.policies {

    &__header {
    background-image: url('/bg/skills.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding:  180px 120px;
    }

    &__main {
            padding: 120px;
    }
}