$blue-accent: rgb(51, 85, 255);
$blue-accent--transparent: rgba(51, 85, 255, 0.3);
$yellow-accent: rgb(247, 197, 24);
$orange-accent: rgb(248, 122, 85);
$white: rgb(248, 249, 250);
$black: rgb(14, 16, 19);
$error: rgb(255, 58, 0);
$grey: rgb(186, 187, 187);