@use 'app/styles/main' as *;

.peel {
    position: relative;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    user-select: none;
    align-self: flex-end;
    transform: rotate(8deg);
    bottom: -180px;
    left: -50px;

    &__card {
        position: absolute;
        inset: 0;
        cursor: grab;
        transform-origin: bottom left;
        transition: transform 0.7s cubic-bezier(0.15, 0.85, 0.35, 1.2), opacity 0.5s ease;
        backface-visibility: hidden;

        &--1 {
            z-index: 3;
        }

        &--2 {
            z-index: 2;
        }

        &--3 {
            z-index: 1;
            cursor: default;
        }

        &.is-peeled {
            cursor: grabbing;
            transform: rotate3d(1, 1, 0, 135deg) translate(-35%, 35%);
            opacity: 0;
            pointer-events: none;
        }

        &__img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            pointer-events: none;
        }
    }

    &__text {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 20px;
        text-align: center;
        color: $white;
        pointer-events: none;
    }
}

@media screen and (max-width: 1420px) {
    .peel {
        bottom: 80%;
        left: 120%;
    }
}

@media screen and (max-width: 900px) {
    .peel {
        bottom: 80%;
        left: 100%;
    }
}

@media screen and (max-width: 768px) {
    .peel {
        bottom: 90%;
        left: 70%;
    }
}

@media screen and (max-width: 640px) {
    .peel {
        bottom: 90%;
        left: 50%;
    }
}

@media screen and (max-width: 576px) {
    .peel {
        left: 40%;
    }
}

@media screen and (max-width: 480px) {
    .peel {
        left: 30%;
    }
}

@media screen and (max-width: 390px) {
    .peel {
        left: 15%;
    }
}