<nav class="nav">
    <ul class="nav__ul">
        <li class="nav__li"><a><img class="nav__logo" src="/icons/sk_logo.svg"></a></li>
        <li class="nav__li"><a class="nav__a nav__a--about">About Me</a></li>
        <li class="nav__li"><a class="nav__a nav__a--skills">Skills</a></li>
        <li class="nav__li"><a class="nav__a nav__a--projects">Projects</a></li>
        <li class="nav__li"><a class="nav__a nav__a--contact">Contact</a></li>
        <li class="nav__li"><button>toggle lang</button></li>
    </ul>
</nav>