<nav class="nav">
    <ul class="nav__desktop nav__ul">
        <li class="nav__li">
            <a class="nav__logo-switch">
                <img class="nav__logo nav__logo--blue" src="/icons/sk_logo.svg">
                <img class="nav__logo nav__logo--yellow" src="/icons/sk_logo_yellow.svg">
            </a>
        </li>
        <li class="nav__mobile-icon" (click)="toggleMenu()"><button><img src="/icons/burgermenu.png"></button></li>
        <li class="nav__li nav__li--desktop"><a (click)="scrollService.scrollToSection('about')" class="nav__a nav__a--about">{{ 'app.nav.about' | translate }}</a></li>
        <li class="nav__li nav__li--desktop"><a (click)="scrollService.scrollToSection('skills')" class="nav__a nav__a--skills" [class.nav__a--skills-de]="currentLanguage() === 'de'">{{ 'app.nav.skills' | translate }}</a>
        </li>
        <li class="nav__li nav__li--desktop"><a (click)="scrollService.scrollToSection('projects')" class="nav__a nav__a--projects">{{ 'app.nav.projects' | translate }}</a>
        </li>
        <li class="nav__li nav__li--desktop"><a (click)="scrollService.scrollToSection('contact')" class="nav__a nav__a--contact">{{ 'app.nav.contact' | translate }}</a>
        </li>

        <li class="nav__lang-toggle nav__li nav__li--desktop">
            <span class="nav__lang-label nav__lang-label" (click)="switchToSetLanguage('en')"
                [class.nav__active]="currentLanguage() == 'en'">EN</span>
            <button type="button" class="nav__toggle-switch" (click)="switchLanguage()"
                [class.nav__active]="currentLanguage() == 'de'">
                <span class="nav__toggle-circle"></span>
            </button>
            <span class="nav__lang-label nav__lang-label" (click)="switchToSetLanguage('de')"
                [class.nav__active]="currentLanguage() == 'de'">DE</span>
        </li>
    </ul>

    <div class="nav__mobile" [class.nav__mobile--open]="isMenuOpen">
        <button class="nav__button--close" (click)="toggleMenu()"><img src="/icons/close.png"></button>
        <ul class="nav__mobile-ul">
            <li class="nav__li">
                <a class="nav__logo-switch">
                    <img class="nav__logo nav__logo--blue" src="/icons/sk_logo.svg">
                    <img class="nav__logo nav__logo--yellow" src="/icons/sk_logo_yellow.svg">
                </a>
            </li>
            <li class="nav__li"><a (click)="scrollService.scrollToSection('about')" class="nav__a nav__a--about">{{ 'app.nav.about' | translate }}</a></li>
            <li class="nav__li"><a (click)="scrollService.scrollToSection('skills')" class="nav__a nav__a--skills" [class.nav__a--skills-de]="currentLanguage() === 'de'">{{ 'app.nav.skills' | translate }}</a></li>
            <li class="nav__li"><a (click)="scrollService.scrollToSection('projects')" class="nav__a nav__a--projects">{{ 'app.nav.projects' | translate }}</a></li>
            <li class="nav__li"><a (click)="scrollService.scrollToSection('contact')" class="nav__a nav__a--contact">{{ 'app.nav.contact' | translate }}</a></li>
            <li class="nav__lang-toggle nav__lang-toggle--mobile">
                <span class="nav__lang-label nav__lang-label" (click)="switchToSetLanguage('en')"
                    [class.nav__active]="currentLanguage() == 'en'">EN</span>
                <button type="button" class="nav__toggle-switch" (click)="switchLanguage()"
                    [class.nav__active]="currentLanguage() == 'de'">
                    <span class="nav__toggle-circle"></span>
                </button>
                <span class="nav__lang-label nav__lang-label" (click)="switchToSetLanguage('de')"
                    [class.nav__active]="currentLanguage() == 'de'">DE</span>
            </li>
            <div class="hero__linkcontent hero__linkcontent--row">
                <a href="https://github.com/kristinastarovoit" target="_blank" class="hero__linkcontent-link"><img src="/icons/github.svg"></a>
                <a href="https://www.linkedin.com/in/kristina-starovoit-6a6672354/" target="_blank" class="hero__linkcontent-link"><img src="/icons/linkedin.svg"></a>
                <a (click)="scrollService.scrollToSection('contact')" class="hero__linkcontent-link"><img src="/icons/mail.svg"></a>
            </div>
        </ul>
    </div>
</nav>