@use 'app/styles/main' as *;

.nav {
    background-color: $black;
    padding: 20px 72px;

    &__ul,
    &__li,
    &__a {
        background-color: $black;
    }

    &__ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        height: 40px;
        display: block;
    }

    &__logo-switch {
        position: relative;
        display: inline-block;

        .nav__logo--yellow {
            position: absolute;
            inset: 0;
            opacity: 0;
            transition: opacity .3s ease;
        }

        .nav__logo--blue {
            transition: opacity .3s ease;
        }

        &:hover .nav__logo--yellow {
            opacity: 1;
        }

        &:hover .nav__logo--blue {
            opacity: 0;
        }
    }

    &__a {
        position: relative;
        padding-bottom: 8px;

        &::after {
            content: '';
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            transform: translate(-50%, -50%);
            width: 150%;
            height: 150%;
            top: 45%;
            left: 50%;
            clip-path: inset(0 100% 0 0);
            transition: clip-path 0.4s ease-out;
        }

        &:hover::after {
            clip-path: inset(0 0 0 0);
        }

        &--about::after {
            background-image: url('/nav/about_nav.svg');
            top: 40%;
            left: 60%;
            clip-path: inset(0 0 100% 0);
            transition: clip-path 0.8s cubic-bezier(0.25, 1, 0.5, 1);
        }

        &--skills::after {
            background-image: url('/nav/skills_nav.svg');
            top: 50%;
        }

        &--projects::after {
            background-image: url('/nav/projects_nav.svg');
        }

        &--contact::after {
            background-image: url('/nav/contact_nav.svg');
        }
    }
}