<section class="projects">
    <div class="projects__section projects__section--description">
        <h2>MY CRAFT</h2>
        <h3 class="projects__h3">Projects</h3>
        <p>Take a look at my projects and see what I've been working on. 
            Each project has helped me strengthen my problem-solving skills and 
            deepen my understanding of modern web development. My goal is to create responsive, 
            intuitive, and user-friendly applications while writing clean, maintainable code. 
            Every challenge is an opportunity to learn something new and continuously improve my skills.
        </p>
    </div>
    @for (project of projects(); track project.name) {
    <div class="projects__section projects__section--projectinfo">
        @if(project.featured) {
        <img class="projects__sticker" src="/sticker/featured.png">
        }
        <div class="projects__img-wrapper">
            <img [class]="project.className" [src]="project.img" [alt]="project.name">
            <a [routerLink]="['/project-detail', project.slug]" class="btn btn--white projects__button">Project Details</a>
        </div>
        <div>
            <h4>{{project.name}}</h4>
            <p>{{project.description}}</p>
        </div>
    </div>
    }
</section>