<section class="projects">
    <div class="projects__section projects__section--description">
        <h2>{{'app.projects.heading' | translate}}</h2>
        <h3 class="projects__h3">{{'app.projects.heading-two' | translate}}</h3>
        <p>{{'app.projects.text' | translate}}
        </p>
    </div>
    @for (project of projects(); track project.name) {
    <div class="projects__section projects__section--projectinfo">
        @if(project.featured) {
        <img class="projects__sticker" src="/sticker/featured.png">
        }
        <div class="projects__img-wrapper">
            <img [class]="project.className" [src]="project.img" [alt]="project.name">
            <a [routerLink]="['/project-detail', project.slug]" class="btn btn--white projects__button">Project Details</a>
        </div>
        <div>
            <h4>{{project.name}}</h4>
            <p>{{project.description}}</p>
        </div>
    </div>
    }
</section>