<p>projects works!</p>
<section class="projects">
    <div>
        <h2>MY CRAFT</h2>
        <h3>Projects</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Harum quibusdam voluptas pariatur natus, dolorum cupiditate?
            Ea praesentium aut enim molestiae iste adipisci, dignissimos quia?
        </p>
    </div>
    @for (project of projects; track project.name) {
    <div>
        @if(project.featured) {
        <img src="/sticker/featured.png">
        }
        <img [src]="project.img" [alt]="project.name">
        <button>Project Details</button>
        <h4>{{project.name}}</h4>
        <p>{{project.description}}</p>
    </div>
    }
</section>