<!-- as p merkt sich projects() und kann so weiterhin im if block genutzt werden.
TS weiß nicht, dass das project() in der if Bedingung dasselbe ist, wie im if block. U
und da sich bei signals ggfalls etwas ändern kann, gibt TS einen error: projects().name : object is possibly undefined -->
<app-header></app-header>
<section class="project-detail">
    @if (project(); as p){
    <div class="project-detail__wrapper project-detail__wrapper--info">
        <a [routerLink]="''" class="project-detail__link project-detail__link--back"><img
                src="/icons/project_arrow_orange.png">{{'app.project-details.back' | translate}}</a>
        <h3 class="project-detail__h3">{{p.name | translate}}</h3>

        <div class="project-detail__text-wrapper">
            <h4>{{'app.project-details.description' | translate}}</h4>
            <p>{{p.description  | translate}}</p>
        </div>
        <div class="project-detail__text-wrapper">
            <h4>{{'app.project-details.details' | translate}}</h4>
            <p>{{p.details  | translate}}</p>
        </div>
        <div class="project-detail__text-wrapper">
            <p class="project-detail__d-heading">{{'app.project-details.duration' | translate}} <span>{{p.duration  | translate}}</span></p>
        </div>
        <div class="project-detail__technologies-wrapper">
            @for (tech of p.technologies; track $index) {
            <div class="project-detail__technologies-wrapper--content">

                <img class="project-detail__icon" [src]="tech.icon">
                <p>{{tech.technology}}</p>
            </div>
            }
        </div>

    </div>
    <div class="project-detail__wrapper project-detail__wrapper--image">
        @if (p.name === 'Join') {
        <img class="project-detail__img" src="/img/join_detail.jpg">
        }
        @else {
        <img class="project-detail__img" [src]="p.img">
        }
        @if (p.featured) {
        <img class="project-detail__sticker" src="/sticker/featured.png">
        } @else {
        <img class="project-detail__sticker" src="/sticker/sticker_round_yellow.png">
        }
        <div class="project-detail__button-wrapper">
            <a [href]="p.github" target="_blank" class="btn btn--white">GitHub</a>
            <a [href]="p.livetest" target="_blank" class="btn btn--white">Live Test</a>
        </div>
        <a (click)="goToNextProject()" class="project-detail__link project-detail__link--next">{{'app.project-details.next' | translate}} <img
                src="/icons/project_arrow.png"></a>
    </div>
    }
    @else {
    <h2 class="project-detail__notfound">not found</h2>
    }
</section>