.skills {
    display: flex;
    justify-content: center;
    gap: 48px;
    background-image: url('/bg/skills.png');
    background-size: cover;
    background-position: bottom;
    padding: 170px 120px 200px;

    &__paragraph {
        background-image: url('/sticker/skill_sticker.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 660px;

        &__text {
            padding: 30px;
        }
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        max-width: 680px;
        gap: 40px;
        padding-top: 48px;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 6px;
            width: 90px;
        }

        &__text {
            font-size: 1.125rem;
        }

        &__img {
            width: 72px;
            filter: grayscale(1);
            transition: all 255ms ease-in-out;

            &:hover {
                width: 60px;
                filter: grayscale(0);
            }
        }
    }
}