<section class="skills">
    <div>
        <h2 class="text-white">MY STACK</h2>
        <h3 class="text-white skills__h3">Skill set</h3>
    </div>
    <div>
        <div class="skills__paragraph">
            <p class="skills__paragraph__text">I believe that learning never stops. 
                I'm always open to exploring new technologies, expanding my knowledge, 
                and adapting to new challenges. Continuous improvement is what drives me as a developer.
            </p>
        </div>
        <div>
            <div class="skills-content">
                @for (skill of skills; track skill.name) {
                <div class="skills-content__item">
                    <img class="skills-content__img" [src]="skill.img" [alt]="skill.name">
                    <p class="text-white skills-content__text">{{ skill.name }}</p>
                </div>
                }
            </div>
        </div>
    </div>
    <app-peel-sticker></app-peel-sticker>
</section>