.skills {
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
    background-image: url('/bg/skills.png');
    background-size: cover;
    background-position: bottom;
    padding: 170px 120px 200px;

    &__h3 {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background-image: url('/icons/skills_line.svg');
            background-size: contain;
            background-repeat: no-repeat;
            height: 120%;
            width: 150%;
            left: 58%;
            top: 50%;
            transform: translate(-50%, -50%);
            animation: circleReveal 5s ease-in-out infinite;
        }
    }

    &__paragraph {
        background-image: url('/sticker/skill_sticker.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 660px;

        &__text {
            padding: 30px;
        }
    }

    &-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 680px;
        gap: 40px;
        padding-top: 48px;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 6px;
            width: 90px;
        }

        &__text {
            font-size: 1.125rem;
        }

        &__img {
            width: 72px;
            filter: grayscale(1);
            transition: all 255ms ease-in-out;

            &:hover {
                width: 60px;
                filter: grayscale(0);
            }
        }
    }
}

@keyframes circleReveal {
    0% {
        clip-path: inset(100% 0 0 100%);
    }

    25% {
        clip-path: inset(0 0 0 0);
    }

    90% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(100% 0 0 100%);
    }
}