<p>skills works!</p>
<section class="skills">
    <div>
        <h2>MY STACK</h2>
        <h3>Skill set</h3>
    </div>
    <div>
        <div>
            <img>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Pariatur deserunt sit, quam dolores qui consequuntur impedit?
                Aperiam corporis, laboriosam illum rerum voluptatem dolor,
                deserunt nobis eius temporibus recusandae accusantium veniam.
            </p>
        </div>
        <div>
            <img>
            <img>
            <img>
            <img>
        </div>
    </div>
    <p><img>Pull to peel</p>
</section>