@use 'app/styles/main' as *;

.action-btn-wrapper {
    position: relative;
    display: inline-block;
    align-self: flex-start;

    &__icon {
        position: absolute;
        top: -42px;
        left: 66%;
        opacity: 0;
        pointer-events: none;
        transform-origin: center;
        transform: translate(-50%, 0) rotate(0deg);
    }

    &:hover &__icon {
        animation: rollAway 1s cubic-bezier(.3, 0, .2, 1) forwards;
    }
}

.action-btn {
    position: relative;
    isolation: isolate;
    padding: 12px 24px;
    border: 1px solid $white;
    border-radius: 99px;
    background: transparent;
    cursor: pointer;
    color: $white;
    overflow: hidden;
    display: inline-flex;
    justify-content: flex-start;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: $blue-accent;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.45s cubic-bezier(.4, 0, .2, 1);
        z-index: -1;
    }

    &__text {
        position: relative;
        display: grid;
        grid-template-areas: "stack";
    }

    &__label {
        grid-area: stack;
        white-space: nowrap;
        transition: opacity 0.25s ease, transform 0.25s ease;

        &--default {

            .action-btn:hover & {
                opacity: 0;
                transform: translateY(-6px);
                position: absolute;
            }
        }

        &--hover {
            opacity: 0;
            transform: translateY(6px);
            position: absolute;
            top: 0;
            left: 0;

            .action-btn:hover & {
                opacity: 1;
                transform: translateY(0);
                position: relative;
            }
        }
    }

    &:hover {
        color: $white;

        &::before {
            transform: scaleX(1);
        }
    }
}

@keyframes rollAway {
    0% {
        opacity: 0;
        left: 66%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    12% {
        opacity: 1;
        left: 66%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    100% {
        opacity: 1;
        left: 100%;
        transform: translate(-50%, 0) rotate(360deg);
    }
}