@use 'app/styles/main' as *;

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;

    &__h3,
    &__h2 {
        align-self: flex-end;
        text-align: right;
    }

    &__h2 {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 36px;
            background-image: url("/sticker/testimonial_arrow.png");
            background-size: contain;
            background-repeat: no-repeat;
            left: -100px;
            top: -35px;
            clip-path: inset(0 0 0 100%);
            animation: arrow-reveal-right 5s ease-in-out infinite;
        }
    }

    &__name-wrapper {
        transition: all 255ms ease-in-out;
    }

    &__section-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
        height: 500px;
    }

    &__subline-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__linkedin-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;

        &>img {
            height: 30px;
        }
    }

    &__card {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 480px;
        height: 320px;
        padding: 44px 50px;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 255ms ease-in-out;

        &>* {
            position: relative;
            z-index: 2;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: url("/sticker/testimonial_hover.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity .3s;
            z-index: 1;
        }

        &:hover {
            z-index: 3;

            .testimonials__name-wrapper {
                color: white;
            }
        }

        &:hover::before {
            opacity: 1;
        }

        &--one {
            background-image: url("/sticker/testimonial_sticker2.png");
            z-index: 3;
            top: 50px;
            left: -600px;
            rotate: -4deg;
        }

        &--two {
            background-image: url('/sticker/testimonial_sticker.png');
            z-index: 2;
            top: 80px;
            left: -190px;
        }

        &--three {
            background-image: url("/sticker/testimonial_sticker2.png");
            z-index: 1;
            top: 50px;
            left: 150px;
            rotate: 4deg;
        }
    }
}

@media screen and (min-width: 1440px) {
    .testimonials {
        padding-left: max(120px, calc(50% - 720px));
        padding-right: max(120px, calc(50% - 720px));
    }
}

@media screen and (max-width: 1440px) {

    .testimonials__card {
        width: 420px;
        height: 300px;

        &--one {
            top: 50px;
            left: -450px;
        }

        &--two {
            top: 80px;
            left: -200px;
        }

        &--three {
            top: 50px;
            left: -10px;
        }
    }
}

@media screen and (max-width: 1024px) {

    .testimonials__card {
        width: 300px;
        height: 420px;

        &--one {
            background-image: url("/sticker/testimonial_sticker2_mobile.png");
            top: 50px;
            left: -320px;
        }

        &--two {
            background-image: url("/sticker/testimonial_sticker_mobile.png");
            top: 80px;
            left: -100px;
        }

        &--three {
            background-image: url("/sticker/testimonial_sticker2_mobile.png");
            top: 50px;
            left: 50px;
        }

        &::before {
            background: url("/sticker/testimonial_hover_mobile.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

@media screen and (max-width: 820px) {
    .testimonials {
        &__section-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            gap: 24px;
        }

        &__card {
            position: relative; // oder relative
            height: 480px;
            width: 380px;
            background-size: 100% 100%;
            left: 0;

            &--two {
                top: 0px;
                left: -50px;
            }

            &--three {
                top: -40px;
                left: 50px;
            }

            &::before {
                background-size: 100% 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .testimonials {
        padding: 120px 56px;

        &__card {
            height: 450px;
            width: 340px;
        }
    }
}

@media screen and (max-width: 500px) {
    .testimonials {
        &__card {
            height: 430px;
            width: 320px;

            &--two {
                left: -30px;
            }

            &--three {
                left: 30px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .testimonials {
        padding: 20px;

        &__card {
            height: 410px;
            width: 300px;

            &--two {
                left: -20px;
            }

            &--three {
                left: 20px;
            }
        }
    }
}

@media screen and (max-width: 390px) {
    .testimonials {
        padding: 16px;

        &__card {
            height: 400px;
            width: 270px;

            &--two {
                left: -5px;
            }

            &--three {
                left: 5px;
            }
        }
    }
}