@use 'app/styles/main' as *;

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;

    &__h3,
    &__h2 {
        align-self: flex-end;
    }

    &__h2 {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 36px;
            background-image: url("/sticker/testimonial_arrow.png");
            background-size: contain;
            background-repeat: no-repeat;
            left: -100px;
            top: -35px;
            clip-path: inset(0 0 0 100%);
            animation: arrow-reveal 5s ease-in-out infinite;
        }
    }

    &__name-wrapper {
        transition: all 255ms ease-in-out;
    }

    &__section-wrapper {
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        position: relative;
        height: 500px;
    }

    &__subline-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__linkedin-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;

        &>img {
            height: 30px;
        }
    }

    &__card {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 480px;
        height: 320px;
        padding: 44px 50px;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 255ms ease-in-out;

        &>* {
            position: relative;
            z-index: 2;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: url("/sticker/testimonial_hover.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity .3s;
            z-index: 1;
        }

        &:hover {
            z-index: 3;

            .testimonials__name-wrapper {
                color: white;
            }
        }

        &:hover::before {
            opacity: 1;
        }

        &--one {
            background-image: url("/sticker/testimonial_sticker2.png");
            z-index: 3;
            top: 50px;
            left: -600px;
            rotate: -4deg;
        }

        &--two {
            background-image: url('/sticker/testimonial_sticker.png');
            z-index: 2;
            top: 80px;
            left: -190px;
        }

        &--three {
            background-image: url("/sticker/testimonial_sticker2.png");
            z-index: 1;
            top: 50px;
            left: 150px;
            rotate: 4deg;
        }
    }
}

@keyframes arrow-reveal {
    0% {
        clip-path: inset(0 0 0 100%);
    }

    30% {
        clip-path: inset(0 0 0 0);
    }

    85% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 0 0 100%);
    }
}

@media screen and (min-width: 1440px) {
    .testimonials {
        padding-left: max(120px, calc(50% - 720px));
        padding-right: max(120px, calc(50% - 720px));
    }
}