<footer class="footer">
    <img class="footer__logo" src="/icons/sk_logo.svg">
    <p class="footer__copyright text-white">&copy; Kristina Starovoit 2026</p>
    <div class="footer__links">
        <a class="footer__legal-notice">Legal Notice</a>
        <div class="footer__link-wrapper">
            <img src="/icons/github.svg" class="footer__icon">
            <div class="footer__single-link-wrapper">
                <a class="footer__single-link">GitHub</a>
            </div>
        </div>
        <div class="footer__link-wrapper">
            <img src="/icons/linkedin.svg" class="footer__icon">
            <div class="footer__single-link-wrapper">
                <a class="footer__single-link">LinkedIn</a>
            </div>
        </div>
        <div class="footer__link-wrapper">
            <img src="/icons/mail.svg" class="footer__icon">
            <div class="footer__single-link-wrapper">
                <a class="footer__single-link">E-Mail</a>
            </div>
        </div>
    </div>
</footer>