@use 'app/styles/main' as *;

.footer {
    width: 100%;
    padding: 56px 120px;
    background-image: url('/bg/contact.png');
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 22px;

    &__links {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__legal-notice {
        position: relative;
        padding: 12px 24px;


        &::after {
            content: '';
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            transform: translate(-50%, -50%);
            width: 150%;
            height: 150%;
            top: 50%;
            left: 75%;
            clip-path: inset(0 100% 0 0);
            transition: clip-path 0.4s ease-out;
            background-image: url('/nav/contact_nav.svg');
        }

        &:hover::after {
            clip-path: inset(0 0 0 0);
        }
    }

    &__logo {
        height: 40px;
        display: block;
        padding-left: 24px;
    }

    &__logo-switch {
        position: relative;
        display: inline-block;

        .footer__logo--yellow {
            position: absolute;
            inset: 0;
            opacity: 0;
            transition: opacity .3s ease;
        }

        .footer__logo--blue {
            transition: opacity .3s ease;
        }

        &:hover .footer__logo--yellow {
            opacity: 1;
        }

        &:hover .footer__logo--blue {
            opacity: 0;
        }
    }

    &__copyright {
        padding: 16px 24px;
    }

    &__link-wrapper {
        position: relative;
        display: inline-block;
    }

    &__icon {
        position: absolute;
        top: -30px;
        left: 66%;
        z-index: 2;
        height: 33px;
        width: 33px;
        opacity: 0;
        pointer-events: none;
        transform-origin: center;
        transform: translate(-50%, 0) rotate(0deg);
        transition: opacity 0.3s ease;
    }

    &__link-wrapper:hover &__icon {
        animation: rollAway 1s cubic-bezier(.3, 0, .2, 1) forwards;
    }

    &__single-link-wrapper {
        padding: 12px 24px;
        border: 1px solid transparent;
        border-radius: 99px;
        transition: all 255ms ease-in-out;
        position: relative;
        isolation: isolate;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: $blue-accent;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.45s cubic-bezier(.4, 0, .2, 1);
            z-index: -1;
        }

        &:hover::before {
            transform: scaleX(1);
        }
    }
}

@keyframes rollAway {
    0% {
        opacity: 0;
        left: 66%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    30% {
        opacity: 1;
        left: 66%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    100% {
        opacity: 1;
        left: 100%;
        transform: translate(-50%, 0) rotate(360deg);
    }
}

@media screen and (min-width: 1440px) {
    .footer {
        padding-left: max(120px, calc(50% - 720px));
        padding-right: max(120px, calc(50% - 720px));
    }
}

@media screen and (max-width: 820px) {
    .footer {
        &__links {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column-reverse;
        padding: 56px;
        &__logo {
            padding: 0;
        }

        &__copyright {
            padding: 0 0 0 12px;
        }

        &__copyright-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__links {
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-size: 1.25rem;
        }
    }
}