.aboutme {
    display: flex;
    gap: 80px;
    padding: 160px 120px;
}

.about-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
        max-width: 560px;

        &--one {
            transform: translateY(35px);
        }
    }
}

.about-content {
    display: flex;
    flex-direction: column;

    &__h3 {
        padding-bottom: 48px;

        &::after {
            content: '';
            background-image: url('/icons/about_line.svg');
            background-size: contain;
            background-repeat: no-repeat;
            height: 20px;
            display: block;
            clip-path: inset(0 100% 0 0);
            animation: arrow-reveal 5s ease-in-out infinite;
        }
    }

    &__btn {
        margin-top: 24px;
        align-self: flex-end;
    }
}

@keyframes arrow-reveal {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    30% {
        clip-path: inset(0 0 0 0);
    }

    85% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

@media screen and (min-width: 1440px) {
    .aboutme {
        padding-left: max(120px, calc(50% - 720px));
        padding-right: max(120px, calc(50% - 720px));
    }
}

@media screen and (max-width: 1200px) {
    .about-imgs__img {
        max-width: 420px;
    }
}

@media screen and (max-width: 1060px) {
    .aboutme {
        flex-direction: column-reverse;
    }

    .about-imgs__img {
        max-width: 560px;
    }
}

@media screen and (max-width: 768px) {
    .about-imgs__img {
        max-width: 450px;
    }

    .aboutme {
        padding-left: 56px;
        padding-right: 56px;
    }
}

@media screen and (max-width: 480px) {
    .about-imgs__img {
        max-width: 380px;
    }

    .aboutme {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 390px) {
    .about-imgs__img {
        max-width: 310px;
    }

    .aboutme {
        padding-left: 16px;
        padding-right: 16px;
    }
}