<p>about works!</p>
<section class="aboutme">
    <div class="about-imgs">
        <img class="about-imgs__img" src="/sticker/about_yellow_location.png">
        <img class="about-imgs__img" src="/sticker/about_orange_remote.png">
    </div>
    <div class="about-content">
        <h2>WHO'S KRISTINA?</h2>
        <h3 class="about-content__h3">About me</h3>
        <p>My journey into web development started during my training as a media designer, where I first worked with
            HTML and CSS. Driven by curiosity and the constant digital evolution, I wanted to understand not only how
            websites look, but why they work the way they do. Asking "Why?" and "How?" has always been part of the way I
            learn.
            What excites me most about coding is solving problems. I enjoy diving deep into challenges and staying
            persistent until I find a solution. Every project teaches me something new, and that's exactly what
            motivates me—the opportunity to continuously learn, improve, and grow as a developer.
        </p>
        <a class="btn btn--black">Let's talk</a>
    </div>
</section>