<p>about works!</p>
<section class="aboutme">
    <div class="about-imgs">
        <img class="about-imgs__img" src="/sticker/about_yellow_location.png">
        <img class="about-imgs__img" src="/sticker/about_orange_remote.png">
    </div>
    <div class="about-content">
        <h2>WHO'S KRISTINA?</h2>
        <h3 class="about-content__h3">About me</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Excepturi, delectus ea dolore assumenda cum consequatur nisi?
            Deserunt magnam dolore excepturi suscipit deleniti iusto amet,
            repellat vel alias sequi nemo animi!
        </p>
        <a class="btn btn--black">Let's talk</a>
    </div>
</section>