<section class="aboutme">
    <div class="about-imgs">
        <img class="about-imgs__img" src="/sticker/about_yellow_location.png">
        <img class="about-imgs__img" src="/sticker/about_orange_remote.png">
    </div>
    <div class="about-content">
        <h2>{{'app.aboutme.heading' | translate}}</h2>
        <h3 class="about-content__h3">{{'app.aboutme.heading-two' | translate}}</h3>
        <p>{{'app.aboutme.text' | translate}}
        </p>
        <a class="about-content__btn btn btn--black">{{'app.aboutme.button' | translate}}</a>
    </div>
</section>