@use 'app/styles/main' as *;

.contact {
    background-image: url('/bg/contact.png');
    background-size: cover;
    background-position: top;
    padding: 180px 120px 150px 120px;
    display: flex;
    gap: 160px;

    &__accept-text {
        margin-top: 40px;
    }

    &__text-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    &__arrow {
        align-self: flex-end;
        clip-path: inset(0 100% 0 0);
        animation: arrow-reveal 5s ease-in-out infinite;
    }

    &__input-wrapper {
        padding: 16px;
        border-bottom: 1.2px solid $yellow-accent;
        border-top: 1px solid transparent;
        position: relative;
        transition: all 255ms ease-in-out;

        &:hover {
            border-top: 1.2px solid $blue-accent;
            border-bottom: 1.2px solid $blue-accent;
            margin-top: -1px;
            margin-bottom: -1px;
            z-index: 2;

            .contact__label {
                color: $orange-accent;
            }
        }
    }

    &__form-content {
        display: flex;
        flex-direction: column;
        width: 50%;

        label,
        input {
            display: block;
            margin: 8px 0;
        }

        input {
            background-color: transparent;
            border: none;
        }

        label {
            font-size: 1.5rem;
        }

        img {
            height: 166px;
            width: 166px;
            align-self: flex-end;
            position: relative;
            top: 8%;
            z-index: 3;
        }

        button {
            align-self: flex-end;
            margin-top: 40px;
            background-color: transparent;
        }
    }
}

@keyframes arrow-reveal {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    30% {
        clip-path: inset(0 0 0 0);
    }

    85% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

@media screen and (min-width: 1440px) {
    .contact {
        padding-left: max(120px, calc(50% - 720px));
        padding-right: max(120px, calc(50% - 720px));
    }
}