<section class="contact">
    <div class="contact__text-content">
        <div>
            <h2 class="text-white">{{'app.contact.heading' | translate}}</h2>
            <h3 class="text-white contact__h3">{{'app.contact.heading-two' | translate}}</h3>
        </div>
        <p class="text-white">{{'app.contact.text' | translate}}
        </p>
        <img class="contact__arrow" src="/sticker/contact_line.png">
    </div>
    <div class="contact__form-content">
        <img src="/sticker/sticker_round.png">
        <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
            <div class="contact__input-wrapper">
                <label class="text-white contact__label" for="name"
                    [class.contact__label--error]="nameInvalidTouched()">{{'app.contact.namelabel' | translate}}</label>
                <input id="name" type="text" formControlName="name"
                    placeholder="{{'app.placeholder.name' | translate}}">
                @if (nameInvalidTouched()) {
                <span class="contact__input-message contact__error">
                    {{ 'app.errors.name' | translate }}
                </span>
                }
            </div>
            <div class="contact__input-wrapper">
                <label class="text-white contact__label" for="mail"
                    [class.contact__label--error]="emailInvalidTouched()">{{'app.contact.maillabel' |
                    translate}}</label>
                <input id="mail" type="email" formControlName="email"
                    placeholder="{{'app.placeholder.email' | translate }}">
                @if (emailInvalidTouched()) {
                <span class="contact__input-message contact__error">
                    {{ 'app.errors.email' | translate }}
                </span>
                }
            </div>
            <div class="contact__input-wrapper">
                <label class="text-white contact__label" for="message"
                    [class.contact__label--error]="messageInvalidTouched()">{{'app.contact.messagelabel' |
                    translate}}</label>
                <input id="message" type="text" formControlName="message"
                    placeholder="{{'app.placeholder.message' | translate }}">
                @if (messageInvalidTouched()) {
                <span class="contact__input-message contact__error">
                    {{ 'app.errors.message' | translate }}
                </span>
                }
            </div>
            <label class="contact__checkbox-wrapper">
                <input class="contact__checkbox" type="checkbox" formControlName="checkbox">
                <span class="contact__checkmark"></span>
                <p class="contact__accept-text text-white">{{'app.contact.checkboxtext' | translate}}<a
                        routerLink="privacypolicy">{{'app.privacy-policy.title' |
                        translate}}</a> {{'app.contact.checkboxtext-two' | translate}}</p>
                @if (!checkbox?.valid && (email?.valid && name?.valid && message?.valid)) {
                <p class="contact__input-message contact__error contact__error--policy">
                    {{ 'app.errors.checkbox' | translate }}
                </p>
                }
            </label>

            <button class="btn btn--white contact__sendbutton" type="submit" (click)="submitForm()"
                [disabled]="isFormInvalid()" [class.contact__disabled]="isFormInvalid()">Send</button>
        </form>
    </div>
</section>