@use 'app/styles/main' as *;

.contact {
    background-image: url('/bg/contact.png');
    background-size: cover;
    background-position: top;
    padding: 180px 120px 150px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;

    &__accept-text {
        font-size: 1rem;
        margin-left: 30px;

        a {
            font-size: 1rem;
            color: $blue-accent;
        }
    }

    &__text-content {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    &__arrow {
        align-self: flex-end;
        clip-path: inset(0 100% 0 0);
        animation: arrow-reveal 5s ease-in-out infinite;
    }

    &__input-wrapper {
        padding: 16px;
        height: 126px;
        border-bottom: 1.2px solid $yellow-accent;
        border-top: 1.2px solid transparent;
        position: relative;
        transition: all 255ms ease-in-out;

        &:hover {
            border-top: 1.2px solid $blue-accent;
            border-bottom: 1.2px solid $blue-accent;
            margin-top: -1.2px;
            margin-bottom: -1.2px;
            z-index: 2;

            .contact__label {
                color: $orange-accent;
            }
        }
    }

    &__label {
        display: block;
        margin: 8px 0;
        font-size: 1.5rem;

        &--error {
            color: $error
        }
    }

    &__form-content {
        display: flex;
        flex-direction: column;
        min-width: 50%;

        form {
            display: flex;
            flex-direction: column;
        }

        input {
            display: block;
            margin: 8px 0;
            background-color: transparent;
        }

        input {
            background-color: transparent;
            border: none;
            width: 100%;
            color: $white;
            font-family: 'Bricolage Grotesque';
            font-size: 1rem;
        }

        img {
            height: 166px;
            width: 166px;
            align-self: flex-end;
            position: relative;
            top: 8%;
            z-index: 3;
        }

        button {
            align-self: flex-end;
            margin-top: 40px;
            background-color: transparent;
        }
    }

    &__checkbox-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 40px;
        position: relative;
        height: 46px;

        .contact__checkbox {
            height: 24px;
            width: 24px;
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;

            &:checked~.contact__checkmark:after {
                display: block;
            }
        }
    }

    &__checkmark {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 2px solid $blue-accent;
        border-radius: 5px;

        &:hover {
            background-color: $blue-accent--transparent;
        }

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 5px;
            top: 0;
            width: 5px;
            height: 10px;
            border: solid $white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }

    &__error {
        color: $error;

        &--policy {
            margin-top: 6px;
            margin-left: 30px;
        }
    }

    &__disabled,
    &__disabled:hover {
        border-color: $grey;
        color: $grey;
        box-shadow: 3px 3px 0 $grey;
        transform: translate(0, 0);
    }
}

@keyframes arrow-reveal {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    30% {
        clip-path: inset(0 0 0 0);
    }

    85% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

@media screen and (min-width: 1440px) {
    .contact {
        padding-left: max(120px, calc(50% - 720px));
        padding-right: max(120px, calc(50% - 720px));
    }
}

@media screen and (max-width: 1180px) {
    .contact__form-content {
        img {
            top: 0%;
        }
    }
}

@media screen and (max-width: 1060px) {
    .contact {
        flex-direction: column;
        gap: 40px;

        &__form-content {
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .contact {
        padding-left: 72px;
        padding-right: 72px;
    }
}