<section class="contact">
    <div class="contact__text-content">
        <div>
            <h2 class="text-white">CONTACT ME</h2>
            <h3 class="text-white contact__h3">Ready to work together?</h3>
        </div>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Commodi excepturi ipsam reprehenderit amet doloribus aliquid non placeat
            totam magnam expedita maxime earum, accusamus, voluptas deserunt dolores
            minima facere laboriosam rerum.
        </p>
        <img class="contact__arrow" src="/sticker/contact_line.png">
    </div>
    <div class="contact__form-content">
        <img src="/sticker/sticker_round.png">
        <div class="contact__input-wrapper">
            <label class="text-white" for="name">What's your name?</label>
            <input id="name" type="text">
        </div>
        <div class="contact__input-wrapper">
            <label class="text-white" for="mail">What's your email?</label>
            <input id="mail" type="text">
        </div>
        <div class="contact__input-wrapper">
            <label class="text-white" for="message">How can I help you?</label>
            <input id="message" type="text">
        </div>
        <p class="contact__accept-text text-white">DSVG gelesen</p>
        <p>Please accept the privacy policy.</p>
        <button class="btn btn--white" type="button" disabled>Send</button>
    </div>
</section>