@use 'app/styles/main' as *;

.contact {
    background-image: url('/bg/contact.png');
    background-size: cover;
    background-position: top;
    padding: 180px 120px 150px 120px;
    display: flex;
    gap: 160px;

    &__accept-text {
        margin-top: 40px; 
    }

    &__text-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    &__arrow {
        align-self: flex-end;
    }

    &__input-wrapper {
        padding: 16px;
        border-bottom: 1.2px solid $yellow-accent;
        border-top: 1px solid transparent;
        position: relative;

        &:hover {
            border-top: 1.2px solid $blue-accent;
            border-bottom: 1.2px solid $blue-accent;
            margin-top: -1px;
            margin-bottom: -1px;
            z-index: 2;
        }
    }

    &__form-content {
        display: flex;
        flex-direction: column;
        width: 50%;

        label,
        input {
            display: block;
            margin: 8px 0;
        }

        input {
            background-color: transparent;
            border: none;
        }

        label {
            font-size: 1.5rem;
        }

        img {
            height: 166px;
            width: 166px;
            align-self: flex-end;
            position: relative;
            top: 8%;
            z-index: 3;
        }

        button {
            align-self: flex-end;
            margin-top: 40px;
            background-color: transparent;
        }
    }

}