@use 'app/styles/main.scss' as *;

* {
    font-family: 'Bricolage Grotesque';
    margin: 0;
    box-sizing: border-box;
    cursor: none !important;
}

body {
    background-color: $white;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}