<section class="hero">
    <div class="hero__maincontent">



        <div class="hero__left">
            <button>Hello world</button>
            <h1>
                Frontend <br>
                <span>DEVELOPER</span>
            </h1>
        </div>
        <div class="hero__right">
            <div class="hero__img-switch">
                <img class="hero__img-switch--default" src="/sticker/polaroidframe.png">
                <img class="hero__img-switch--hover" src="/sticker/polaroidframe_color.png">
            </div>
            <a class="btn btn--white">Get in Touch</a>
        </div>



        <!-- <button>hello world</button>
        <div class="hero__img-switch">
            <img class="hero__img-switch--default" src="/sticker/polaroidframe.png">
            <img class="hero__img-switch--hover" src="/sticker/polaroidframe_color.png">
        </div>
        <h1>Frontend<br> DEVELOPER</h1>
        <a class="btn btn--white">Get in Touch</a> -->
    </div>
    <div class="hero__linkcontent">
        <a class="hero__linkcontent-link"><img src="/icons/github.svg"></a>
        <a class="hero__linkcontent-link"><img src="/icons/linkedin.svg"></a>
        <a class="hero__linkcontent-link"><img src="/icons/mail.svg"></a>
    </div>
</section>