@use 'app/styles/main' as *;

.hero {
    background-image: url('/bg/hero.png');
    background-size: cover;
    background-position: bottom;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 75px;

    &__maincontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img-switch {
        position: relative;

        &--hover {
            position: absolute;
            inset: 0;
            opacity: 0;
            transition: .3s ease;
        }

        &--default {
            opacity: 1;
            transition: .3s ease;
        }

        &:hover .hero__img-switch--hover {
            opacity: 1;
        }

        &:hover .hero__img-switch--default {
            opacity: 0;
        }
    }

    &__linkcontent {
        align-self: flex-start;
        gap: 8px;
        display: flex;
        flex-direction: column;

        &-link {
            border: 1px solid $white;
            border-radius: 50%;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            position: relative;
            overflow: hidden;

            &>img {
                height: 32px;
                width: 32px;
                display: block;
                position: relative;
                z-index: 2;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: -100%;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $blue-accent;
                border-radius: 50%;
                transition: bottom 255ms ease;
                z-index: 1;
            }

            &:hover {
                &::before {
                    bottom: 0;
                }
            }
        }

    }
}