<section class="hero">
    <div class="hero__maincontent">
        <div class="hero__magic-button">
            <app-magic-button></app-magic-button>
        </div>
        <div class="hero__img-switch">
            <img class="hero__img-switch--default" src="/sticker/polaroidframe.png">
            <img class="hero__img-switch--hover" src="/sticker/polaroidframe_color.png">
        </div>
        <div class="hero__title">
            @for (word of words(); track $index; let wi = $index) {
            <div class="hero__word" [style.margin-left.px]="wi * 80">
                @for (letter of word; track $index) {
                <span class="hero__letter" [class.hero__letter--active]="letter.active"
                    (mouseenter)="setActive(letter, true)" (mouseleave)="setActive(letter, false)"
                    (click)="toggleLetter(word, letter)">{{ displayChar(letter)
                    }}</span>
                }
            </div>
            }
        </div>
        <a (click)="scrollService.scrollToSection('contact')" class="btn btn--white hero__contact-button">{{ 'app.hero.button' | translate}}</a>
    </div>
    <div class="hero__linkcontent">
        <a href="https://github.com/kristinastarovoit" target="_blank" class="hero__linkcontent-link"><img src="/icons/github.svg"></a>
        <a href="https://www.linkedin.com/in/kristina-starovoit-6a6672354/" target="_blank" class="hero__linkcontent-link"><img src="/icons/linkedin.svg"></a>
        <a (click)="scrollService.scrollToSection('contact')" class="hero__linkcontent-link"><img src="/icons/mail.svg"></a>
    </div>
</section>